APP_NAME=MyDevLab
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=mydevlab
DB_USERNAME=mydevlab
DB_PASSWORD=senha_local

APP_PORT=8080
DB_HOST_PORT=54320